body {
    font-family: sans-serif;
}
header{
     border: 5px solid blue;
    border-radius: 10px ; 
}
    
h1{
    color: blueviolet;
    font-size: 50px;
    text-align: center;
}
footer{
    background-color: rgb(241, 166, 204);
    padding: 5px;
    
}

footer p{
    background-color: aliceblue;

}
.production{
  background-color: rgb(148, 204, 148); 
padding: 10px;
}

.RM{
 border: 2px solid blue;
text-decoration: none;
padding: 5px;
}
